@import "./components/button/Button.css";

body {
  @apply bgTeal;
}

.bgWhite {
  background-color: #fafafa;
}

.bgTeal {
  background-color: #d6eded;
}

.bgBlack {
  background-color: #000000;
}

.bgRed {
  background-color: #dd7f73;
}

.bgGreen {
  background-color: #316a74;
}

.colorWhite {
  color: #fafafa;
}

.colorTeal {
  color: #d6eded;
}

.colorBlack {
  color: #000000;
}

.colorRed {
  color: #dd7f73;
}

.colorGreen {
  color: #316a74;
}
