@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bgTeal;
}

@layer components {
  /* Colors */

  .bgWhite {
    background-color: #fafafa;
  }

  .bgTeal {
    background-color: #d6eded;
  }

  .bgBlack {
    background-color: #000000;
  }

  .bgRed {
    background-color: #dd7f73;
  }

  .bgGreen {
    background-color: #316a74;
  }

  .colorWhite {
    color: #fafafa;
  }

  .colorTeal {
    color: #d6eded;
  }

  .colorBlack {
    color: #000000;
  }

  .colorRed {
    color: #dd7f73;
  }

  .colorGreen {
    color: #316a74;
  }

  /* Navbar */

  .nav {
    @apply flex justify-between items-center mx-auto px-2 sm:px-4;
  }

  .logoDiv {
    @apply flex items-center mr-5 sm:mr-0;
  }

  .logo {
    @apply mr-2 h-12 sm:h-12;
  }

  .brandName {
    @apply text-3xl font-bold colorGreen mt-1.5;
  }

  .navLinksDiv {
    @apply hidden lg:flex gap-8 mt-3 mr-36;
  }

  .navLink {
    @apply text-xl font-semibold colorGreen;
  }

  .navLinkActive {
    @apply text-xl font-semibold colorRed;
  }

  .menuBar {
    @apply flex mt-3;
  }

  .userIcon {
    @apply h-10 w-10 colorRed cursor-pointer;
  }

  .menuIcon {
    @apply lg:hidden h-10 w-10 colorGreen cursor-pointer ml-2.5;
  }

  /* Buttons */

  .btn {
    @apply focus:outline-none text-white focus:ring-4 rounded-lg text-xl font-semibold py-1.5 mb-2;
  }

  .btnRed {
    @apply bgRed;
  }

  /*Login*/
  .login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #d6eded;
  }

  input[type="text"],
  input[type="password"] {
    height: 25px;

    border: 2px;
    border-color: #316a74;
  }

  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }

  input[type="submit"]:hover {
    background: #6cf0c2;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .list-container {
    display: flex;
  }

  .error {
    color: red;
    font-size: 12px;
  }

  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }

  /* Pseudo-classes */

  .btnRed:hover,
  .userIcon:hover {
    opacity: 0.85;
  }

  .btnRed:focus {
    @apply ring-[#DD7F7399];
  }

  /* Dropdown */

  .dropdownMenu {
    @apply bgWhite rounded shadow border-2;
  }

  .dropdownItem {
    @apply colorGreen font-semibold hover:bg-gray-300 py-2 px-4 rounded cursor-pointer;
  }
}
