@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bgTeal;
}

@layer components {
  /* Colors */

  .bgWhite {
    background-color: #fafafa;
  }

  .bgTeal {
    background-color: #d6eded;
  }

  .bgBlack {
    background-color: #000000;
  }

  .bgRed {
    background-color: #dd7f73;
  }

  .bgGreen {
    background-color: #316a74;
  }

  .colorWhite {
    color: #fafafa;
  }

  .colorTeal {
    color: #d6eded;
  }

  .colorBlack {
    color: #000000;
  }

  .colorRed {
    color: #dd7f73;
  }

  .colorGreen {
    color: #316a74;
  }

  /* General */

  .borderGreen {
    @apply border-2 border-[#316a74];
  }

  .zIndex1 {
    z-index: 1;
  }

  /* Navbar */

  .nav {
    @apply flex justify-between items-center mx-auto px-2 sm:px-4;
  }

  .logoContainer {
    @apply flex items-center mr-5 sm:mr-0;
  }

  .logo {
    @apply mr-2 h-12 sm:h-12;
  }

  .brandName {
    @apply text-3xl font-bold colorGreen mt-1.5;
  }

  .navLinksContainer {
    @apply hidden lg:flex gap-8 mt-3 mr-40;
  }

  .navLink {
    @apply text-xl font-semibold colorGreen;
  }

  .navLinkActive {
    @apply text-xl font-semibold colorRed;
  }

  .menuBar {
    @apply flex mt-3;
  }

  .userIcon {
    @apply h-10 colorRed cursor-pointer hover:opacity-80;
  }

  .menuIcon {
    @apply lg:hidden h-10 w-10 colorGreen cursor-pointer ml-2.5;
  }

  /* Buttons */

  .btn {
    @apply focus:outline-none hover:opacity-80 text-white focus:ring-4 rounded-lg font-semibold py-1.5 px-2.5 mb-2;
  }

  .btnRed {
    @apply bgRed focus:ring-[#dd7f7399];
  }

  .btnGreen {
    @apply bgGreen focus:ring-[#316a7499];
  }

  /* Home */

  .homeContainer {
    @apply flex justify-center py-52 text-4xl font-semibold;
  }

  .homeText {
    @apply grid gap-3 text-center;
  }

  /* Input */

  .inputField {
    @apply bgWhite px-2.5 py-0.5 text-lg rounded-lg font-semibold shadow-md borderGreen focus:ring-blue-500 focus:border-blue-500;
  }

  .checkboxField {
    @apply shadow-none cursor-pointer;
  }

  /* Dropdown */

  .dropdownMenu {
    @apply bgWhite rounded shadow border-2;
  }

  .dropdownItem {
    @apply colorGreen font-semibold hover:bg-gray-300 py-2 px-4 rounded cursor-pointer;
  }

  /* Card & Map */

  .cardContainer {
    @apply grid grid-cols-1 lg:grid-cols-2 px-20 justify-items-center mt-28 overflow-auto;
  }

  @media (min-width: 1408px) {
    .cardContainer {
      @apply grid-cols-3;
    }
  }

  @media (min-width: 1856px) {
    .cardContainer {
      @apply grid-cols-4;
    }
  }

  .card {
    @apply grid grid-rows-2 relative mb-20 bgWhite borderGreen rounded-xl w-96 h-80;
  }

  .badge {
    @apply absolute text-white rounded-xl w-fit px-2 pb-0.5 font-bold text-center zIndex1;
  }

  .cardContent {
    @apply flex flex-col justify-between pt-3 px-5;
  }

  .nameStyle {
    @apply text-2xl colorRed font-semibold;
  }

  .locationStyle {
    @apply text-lg colorGreen;
  }

  .mapContainer {
    @apply flex justify-center items-center rounded-t-xl border-b-2 border-gray-400 z-0;
  }

  /* Modals */

  .modalTitle {
    @apply text-center text-2xl mt-1 colorRed font-semibold relative;
  }

  .closeIcon {
    @apply absolute -right-3 -top-4 h-7 colorBlack cursor-pointer hover:opacity-60;
  }

  .rentModalBody {
    @apply grid grid-rows-2 gap-3 justify-center;
  }

  .infoModalBody {
    @apply grid grid-rows-2 gap-2 px-4;
  }

  .infoModalFooter {
    @apply grid grid-cols-2 px-6 gap-8 mb-5;
  }

  .footerItemContainer {
    @apply font-semibold colorRed;
  }

  .footerItemTitle {
    @apply colorGreen mb-2 text-lg;
  }

  .footerItemRow {
    @apply p-2 border-2 border-b-0 border-gray-400 hover:bg-gray-200;
  }
}
